@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-brand);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-accent);
    background-color: rgba(192, 47, 54, 0.12);
  }
}

@media (min-width: 1024px) {
  #app {
    padding: 0 2rem 2rem;
  }
}
